.container {
    display: flex;
    height: 100vh; /* altura total da tela */
}

.parteEsquerda,
.parteDireita {
    flex: 1; /* divide a tela igualmente */
    display: flex; /* permite o uso de Flexbox */
    align-items: center; /* alinha verticalmente no centro */
    justify-content: center; /* alinha horizontalmente no centro */
}

.parteEsquerda {
    background-color: #E9ECEF; /* cor de fundo da parte esquerda */
    flex-direction: column;
}
.parteEsquerda p {
    padding: 30px;
    color: #5C5F66;
}
.parteEsquerda h2 {
    color: #5C5F66;
}
.parteDireita {
    background-color: #E9ECEF;
}

/* Estilos para o formulário (opcional) */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px; 
    height: 650px;
    padding: 40px;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
}

.form h3 {
    color: black;
}
.errorMessage {
    color: red;
    margin-top: 10px;
}
