.pagina {
  background-color: #F2FDFF;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1; 
}

.breadcrumbContainer {
  position: fixed; 
  left: 190px;
  top: 1vh;
  align-self: flex-start;
}

.conteudo_pagina {
  margin-left: 300px;
  margin-top: 1vh;
  flex-direction: column;
}

