/* src/components/Header/Header.module.css */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    width: 100%;
  }
  

  .iconCursor {
    cursor: pointer;
  }

  .inputSearch {
    width: 25em;
    height: 3em;
    min-height: 3em;
  }

  .espaco_da_imagem {
    width: 70px;
  }

  .espaco_do_breadcrumb {
    width: 16em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }